body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
           
            }

.container {
    text-align: center;
    padding: 50px;
    height: 200vh;
    background: linear-gradient(45deg, #2193b0, #6dd5ed); /* Gradient from blue to light blue */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
     
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 9px;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 10px black;    
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 1px solid black;
    cursor: pointer;
    transition: background 0.3s ease;
    vertical-align: middle;
  
    
}

.cell:hover {
    background: #f0f0f0;
     transform: scale(1.1); 
}

.game-info {
    font-size: 2.1rem;
    
}

#resetButton {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
transition: background-color 0.3s, transform 0.2s; 
border-radius: 5px;
 border: none;
color: black;
 background-color: gray;
}

@media (max-width: 600px) {
    .game-board {
        width: 90%;
        height: 90%;
        font-size: 2rem;
    }
}